# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
